/* 
	[IconicFont] - Let's use Webfonts for icons
---------------------------------------------------------------------------*/
@font-face {
	font-family: 'IconicStroke';
	src: url('iconic_stroke-webfont.eot');
	src: local('☺'), url('fonts/iconic_stroke-webfont.woff') format('woff'), url('fonts/iconic_stroke-webfont.ttf') format('truetype'), url('fonts/iconic_stroke-webfont.svg#webfontCqgzK5wS') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IconicStroke';
	src: url('fonts/iconic_stroke-webfont.eot');
	src: local('☺'), url('fonts/iconic_stroke-webfont.woff') format('woff'), url('fonts/iconic_stroke-webfont.ttf') format('truetype'), url('fonts/iconic_stroke-webfont.svg#webfontCqgzK5wS') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IconicStroke';
	src: url('fonts/iconic_stroke-webfont.eot');
	src: local('☺'), url('fonts/iconic_stroke-webfont.woff') format('woff'), url('fonts/iconic_stroke-webfont.ttf') format('truetype'), url('fonts/iconic_stroke-webfont.svg#webfontCqgzK5wS') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IconicStroke';
	src: url('fonts/iconic_stroke-webfont.eot');
	src: local('☺'), url('fonts/iconic_stroke-webfont.woff') format('woff'), url('fonts/iconic_stroke-webfont.ttf') format('truetype'), url('fonts/iconic_stroke-webfont.svg#webfontCqgzK5wS') format('svg');
	font-weight: normal;
	font-style: normal;
}

.iconic:before {
	color:inherit;
	font-family: "IconicStroke";
}

a.iconic:hover {
	color:inherit;
}

.iconic.plus-alt:before { content: "="; }
.iconic.minus-alt:before { content: "_"; }


/* 
	[Global Class - helpers]
---------------------------------------------------------------------------*/
.iw_nob{
	margin:0;
	padding:0;
	list-style:none;
	list-style-position:outside;
}
.iw_ar{float:right}
.iw_al{float:left}
/* 
	[Infowindow-Wrap]
---------------------------------------------------------------------------*/
.iw{
	padding: 5px 0 5px 5px;
	min-height: 230px;
	width: 400px;
	}

/* 
	[Header]
---------------------------------------------------------------------------*/
.iw_hd{
	position:relative;
	margin:0 0 10px;
}
	.iw_title{
		font-size: 14px;
		margin:0;
		padding-right: 68px;
	}
		.iw_title a{}
		.iw_title a:hover{text-transform: none;}

	.r_verified,
	.r_unverified{
		position:absolute;
		
		width: 60px;
		padding: 2px 3px;
		top: 0; right: 5px;
		font-size: 10px;
		text-align:center;
		text-transform: uppercase;
		display: inline-block;
		padding: 2px 3px;
		color: white;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		}

	.iw_hd .r_verified{background:#368C00;}
	.iw_hd .r_unverified{background:#A60003}
	
	

/* 
	[Infowindow - Tabs]
---------------------------------------------------------------------------*/

#iw-tabs{background:#eee;}

#iw-tabs #iw-tabs-nav{
	-moz-box-shadow: 0 4px 5px rgba(255,255,255,.85);
	-webkit-box-shadow: 0 4px 5px rgba(255,255,255,.85);
	-khtml-box-shadow: 0 4px 5px rgba(255,255,255,.85);
	-o-box-shadow: 0 4px 5px rgba(255,255,255,.85);
	box-shadow: 0 4px 5px rgba(255,255,255,.85);
}
#iw-tabs,
#iw-tabs #iw-tabs-nav,
#iw-tabs .iw_tab{
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	
	-khtml-border-radius-bottomright: 0;
	-khtml-border-radius-bottomleft: 0;
	
	-webkit-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	
}
#iw-tabs .ui-tabs-panel{
	
	border: solid #aaa;
	border-width: 0 1px 1px;
	background:#e7e7e7;
	background: -webkit-gradient(linear,left top,left bottom, from(#ffffff), to(#e7e7e7));
	background: -webkit-linear-gradient(left, #fff,#e7e7e7);
	background: -moz-linear-gradient(left, #fff, #e7e7e7);
	padding: 5px;
}

	#iw-tabs .iw_tab{
		height:82px;
		overflow:auto;
		padding-top:4px;
		
		}
/* 
	[Infowindow - Footer]
---------------------------------------------------------------------------*/
.iw_ft{
	height:14px;
	padding: 4px 0;
	font-size: 10px;
	color:#666;
}
.iw_meta > li{
	float:left;
	display:inline;
	margin-right:5px;
	padding: 4px 0;
}
.iw_meta .iw_loc,
.iw_meta .iw_date{padding-left: 18px;}

.iw_meta .iw_date{margin-right:0;}

.iw_ft_meta{
	border: 1px solid #a8a8a8;
	background:#eee;
	color:#666;
	height: 20px;
	line-height: 20px;
	padding: 5px;
	margin-bottom: 20px;
	-webkit-border-radius: 0 0 4px 4px;
	}

.iw_ft_meta > ul{position:relative;}
.iw_ft_meta li > ul{
	 position:absolute;
	 width: 128px;height:14px;
	 line-height: 12px;
	 right:0;bottom:-20px;
}
.iw_ft_meta li > ul li{float:left;display:inline;}

.iw_ft_meta li > ul li a{
	font-size: 10px;
	border: solid #a8a8a8;
	border-width: 0 1px 1px;
	display:block;
	padding: 1px 3px 2px;
	
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background:-webkit-linear-gradient(left top, #eee, #ddd);
	background:-moz-linear-gradient(left top, #eee, #ddd);
	
	
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-khtml-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	
	text-decoration:none;
}

.iw_ft_meta li > ul li a:hover{
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background:-webkit-linear-gradient(left top, #eee, #ddd);
	background:-moz-linear-gradient(left top, #eee, #ccc);
}
.iw_ft_meta li > ul li a:active{background:#ddd}

.iw_ft_meta .iw_zi a:before,
.iw_ft_meta .iw_zo a:before{font-size:14px;}

.iw_ft_meta .iw_zi{margin-right:5px;}

.iw_ft_meta .iw_more{}

#iw_coord > li{
	float:left;
	display:inline;
	margin-right:10px;
}

#iw_coord #iw-lat{margin:0;}
#iw_coord #iw-lon:after{content:","}


#pagination-wrap{
	clear:both;
	height: 20px;
	margin: 5px 0;
}

.pagination {
     font-size: 10px;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, 
.pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}
.pagination a:hover{
	background:#f90;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
