
/* 
	[Global Class - helpers]
---------------------------------------------------------------------------*/
.iw_nob{
	margin:0;
	padding:0;
	list-style:none;
	list-style-position:outside;
}

/* 
	[Infowindow-Wrap]
---------------------------------------------------------------------------*/
.iw{
	padding: 5px 0 5px 5px;
	min-height: 230px;
	width: 400px;
	}

/* 
	[Header]
---------------------------------------------------------------------------*/
.iw_hd{
	position:relative;
	margin:0 0 10px;
}
	.iw_title{
		font-size: 14px;
		margin:0;
		padding-right: 60px;
	}
		.iw_title a{}
		.iw_title a:hover{text-transform: none;}

	.r_verified,
	.r_unverified{
		position:absolute;
		
		width: 50px;
		padding: 2px 3px;
		top: 0; right: 5px;
		font-size: 10px;
		text-align:center;
		text-transform: uppercase;
		display: inline-block;
		padding: 2px 3px;
		color: white;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		border-top-left-radius: 3px 3px;
		border-top-right-radius: 3px 3px;
		border-bottom-right-radius: 3px 3px;
		border-bottom-left-radius: 3px 3px;
	}

	.iw_hd .r_verified{background:#368C00;}
	.iw_hd .r_unverified{background:#A60003}
	
	

/* 
	[Infowindow - Tabs]
---------------------------------------------------------------------------*/


#iw-tabs #iw-tabs-nav,
#iw-tabs .iw_tab{
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	
	-khtml-border-radius-bottomright: 0;
	-khtml-border-radius-bottomleft: 0;
	
	-webkit-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	
}
#iw-tabs .ui-tabs-panel{
	
	border: solid #aaa;
	border-width: 0 1px 1px;
	background:#e7e7e7;
	background: -webkit-gradient(linear,left top,left bottom, from(#ffffff), to(#e7e7e7));
	background: -webkit-linear-gradient(left, #fff,#e7e7e7);
	background: -moz-linear-gradient(left, #fff, #e7e7e7);
	padding: 5px;
}

	#iw-tabs .iw_tab{height:82px;overflow:auto;}
/* 
	[Infowindow - Footer]
---------------------------------------------------------------------------*/
.iw_ft{
	height:14px;
	padding: 4px 0;
	font-size: 10px;
	color:#666;
}
.iw_meta > li{
	float:left;
	display:inline;
	margin-right:5px;
	padding: 4px 0;
}
.iw_meta .iw_lat,
.iw_meta .iw_lon{font-size:10px;}

.iw_meta .iw_loc,
.iw_meta .iw_date{float:right;padding-left: 18px;}

.iw_ft_meta{
	height:12px;
	padding: 4px 0;
}

.iw_ft_meta > ul > li{float:right;display:inline;margin-right:10px;}

.iw_ft_meta .iw_zi,
.iw_ft_meta .iw_more{margin-right:0;}

.iw_ft_meta .iw_more{float:left;}

#pagination-wrap{
	clear:both;
	height: 20px;
	margin: 5px 0;
}

.pagination {
     font-size: 10px;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, 
.pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}
.pagination a:hover{
	background:#f90;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
